* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: Montserrat;
  src: url(/src/Assets/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: Strike;
  src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
}

@font-face {
  font-family: Montbold;
  src: url(/src/Assets/static/Montserrat-Bold.ttf);
}

.home-component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding:60px 0;
  position: relative;
}

@media screen and (max-width: 896px) {
  .home-component {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 0;
  }
}

.hero-con {
  /* position: relative; */
  width: 100%;
  height: 700px;
  overflow: hidden;
  padding: 20px;
}
@media screen and (max-width:896px) {
   .hero-con {
    height: 500px;
    padding: 0%;
   }
}

.hero-con::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%; /* Adjust width */
  height: 760px;
  background: #dcdcdc;
  transform: skewX(-10deg);
  transform-origin: top left;
}


@media screen and (max-width:896px) {
  .hero-con::before {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }
}

.creation-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

.seletect-work-con {
  left: 100%;
}

@media screen and (max-width: 896px) {
  .creation-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-top: 0px;
  }
}
