* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(/src/Assets/static/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
  }

  @font-face {
    font-family: Montbold;
    src: url(/src/Assets/static/Montserrat-Bold.ttf);
  }
  
  .home-component {
    width: 100%;
    flex-direction: column;
    padding: 10px 100px;
    gap: 40px;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
    border-bottom: 100px solid #ebc9a0;
    border-top: 140px solid #ebc9a0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    gap: 20px;
    margin-bottom: 50px;
  }
  
  .myself-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .my-image-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .my-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .my-image > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  
  .my-image > h5 {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: translateY(-100%) rotateY(0deg);
    transition: all 0.5s ease-in-out;
    color: #ebc9a0;
    font-family: Strike;
  }
  
  .my-image:hover > h5 {
    transform: translateY(0) rotateY(360deg);
  }
  
  .my-image-text > .my-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    color: #bab8b8;
    font-size: 18px;
    font-family: Montserrat;
  }
  
  .my-text > h3 {
    color: #ebc9a0;
    font-size: 30px;
    line-height: 3rem;
    font-family: Strike;
  }
  
  .my-text > a {
    width: 220px;
    color: #ebc9a0;
    background-color: transparent;
    border: 1px solid #ebc9a0;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    font-family: Montserrat;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
  }
  
  .my-text > a:hover {
    background-color: #ebc9a0;
    color: #0b2311;
    transition: all 0.4s ease-in-out;
  }
  .my-text > a > h3 {
    font-size: 15px;
    color: #ebc9a0;
  }
  
  .icon1, .icon2 {
    position: absolute;
    font-size: 20px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    right: 5px;
  }
  
  .icon1 {
    width: 30px;
    height: 30px;
    transform: translateY(0);
    color: #0b2311;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  
  .icon2 {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    color: #0b2311;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
  }
  
  .my-text > a:hover .icon1 {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .my-text > a:hover .icon2 {
    transform: translateY(0);
    opacity: 1;
  }
  
  
  .my-cv  {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 100px;
    background-image: url('https://res.cloudinary.com/damamkuye/image/upload/v1742315837/IMG_2733_k7kwy8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 500px;
  }
  
  .my-cv-text {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 23, 0.6);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    transform-style: preserve-3d;
    position: absolute;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }
  
  .my-cv:hover > .my-cv-text {
    display: flex;
    transition: all 0.5s ease-in-out;
    animation: move3d;
    animation-timing-function: 0.3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;animation-direction: alternate;
  }
  
  @keyframes move3d {
    0% { transform: translate3d(0px, 0px, 10px); transition: all 0.5s ease-in-out; }
    50% { transform: translate3d(50px, 50px, 0px); transition: all 0.5s ease-in-out;}
    100% { transform: translate3d(10px, 0px, 100px); transition: all 0.5s ease-in-out;}
  }

  .my-cv-text > h6 {
    color: #ebc9a0;
    font-size: 30px;
    font-family: Montserrat;
  }

  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(135deg, #0f172a, #1e293b); */
    color: #ebc9a0;
    text-align: center;
    padding: 100px;
  }
  
  .laptop-con {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  
  .laptop-con img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .laptop-con img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  }
  
  /* Text Section */
  .lap-desk-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }
  
  .lap-desk-text .top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .lap-desk-text .top .icons {
    font-size: 40px;
    color: #ff8a00;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .laptop-con {
      flex-direction: column;
    }
  
    .lap-desk-text {
      flex-direction: column;
      text-align: center;
    }
  
    .lap-desk-text .top {
      margin-bottom: 15px;
    }
  }
  

.about-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 100px;
    background-image: url('https://images.unsplash.com/photo-1639322537231-2f206e06af84?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about-image {
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #1d231f;
    padding: 30px;
}

.about-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-text {
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #1d231f;
    padding: 30px;
    gap: 30px;
}

.about-text > h2 {
    font-size: 20px;
    font-family: Strike;
    color: #ebc9a0;
}

.about-text > p {
    font-size: 16px;
    font-family: Montserrat;
    line-height: 2.5rem;
    color: #fff;
}

.my-design {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.my-design > h3 {
    font-size: 20px;
    color: #ebc9a0;
    font-family: Montbold;
}
.my-design > h4 {
    font-size: 15px;
    color: #7c7b7b;
    font-family: Montserrat;
}

.resume-link-con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.download-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #ebc9a0;
    padding: 6px 8px 6px 15px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    overflow: hidden;
  }

  .down-icon {
    font-size: 20px;
    color: #bab8b8;
    display: flex;
  }
  
  .download-btn:hover {
    background-color: #0b2311;
    color: #ddb686;
  }

  .download-btn:hover > .down-icon {
    animation: drop 0.7s infinite;
  }

  @keyframes drop {
    0% {
        transform: translateY(-100%); transition: all 0.3s ease-in-out;
    }
    100% {
        transform: translateY(110%); transition: all 0.3s ease-in-out;
    }
  }
  
  .my-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .my-link > a {
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #6b6a6a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    scale: 1.0;
    transition: all 0.3s ease-in-out;
  }
  .my-link > a:hover {
    border: 1px solid #fff;
    scale: 1.1;
    transition: all 0.3s ease-in-out;
  }

  .creation-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
  }

  .seletect-work-con {
    left: 100%;
  }
