* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(/src/Assets/static/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
  }

.overlay-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .overlay-icon {
    background: transparent;
    border: none;
    color: #ebc9a0;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .overlay-icon:hover {
    transform: scale(1.2);
    color: #fff;
  }
  