* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(/src/Assets/static/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: Strike;
    src: url(/src/Assets/Protest_Strike/ProtestStrike-Regular.ttf);
  }

.overlay-container {
    position: fixed;
    top: 80%;
    left: 45%;
    transform: translateY(-10%);
    width: 200px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  @media screen and (max-width:896px) {
    .overlay-container {
      width: 40px;
      left: 10px;
      height: 200px;
      top: 50%;
      flex-direction: column;
    }
  }
  .overlay-icon {
    background: transparent;
    border: none;
    color: #ebc9a0;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .overlay-icon:hover {
    transform: scale(1.2);
    color: #fff;
  }
  